.clint-h1 {
    color: rgb(241, 11, 138);
    font-family: 'Franklin Gothic Medium';
    font-size:xx-large;
    text-align: center;
    font-weight: bold;
}

p{
    font-family: Verdana;
    text-align: center;
    font-size: large;
}